@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
body{
    background-color:rgba(202, 172, 172, 0.6);

}
h1 {
    font-family: 'Orbitron', serif;
    font-weight: bold;
    font-size:45px;
}

h2 {
    font-family: "Orbitron", serif;
    font-size:30px;
}

.navigation{
    position:fixed;
    top:0;
    left:0;
    right:0;
    
    background-color:black;
    /*background: url("/static/images/fire.gif") 100% 0 no-repeat fixed;*/
    background-size: 100%;
    box-shadow: 0px 5px rgba(118, 101, 101, 0.6);
    z-index: 1000;
}

div.element{
    display:inline-block;
    width: 100px;
    height:64px;
    
}

div.element:hover{
    background-color:rgba(72, 67, 67, 0.6);
    cursor:pointer;
}
img{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align:center;
    
}
p.name{
    color:white;
    display:inline;
    text-align:top;
    font-family: "Orbitron", sans-serif;
    font-size:14px;

}
span.name{
    font-size:25px;
    font-family: "Orbitron", sans-serif;
}
div.nameContainer{
    position:absolute;
    top:21px;
    
    
    right:30px;
}

a.logout{
    color:white;
    text-decoration: none;
}
a.logout:visited{
    color:white;
}
a.logout:hover{
    text-decoration:underline;
}
.home{
    margin-left: 25px;
}
.assignments{
    margin-left:24px;
}
.quizzes{
    margin-left:24px;
}

.leaderboard{
    margin-left:25px;
}

h1{
    margin-top:80px;
}

button{
    cursor:pointer;
}