h1, div.content{
    text-align:center;

}

span.detail, input{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    margin-top:5px;
}

span.detail{
    font-weight:600;
}

input[type=password]{
    border-radius:10px;
    background-color:rgba(42, 99, 255, 0.511);
    transition: transform 0.5s;
    padding:5px;
    width:30%;
    border: 1px solid black;
    text-align:center;
    text-overflow: ellipsis;
}

input[type=password]:focus{
    background: url("/static/images/gold.gif") 100% no-repeat;
    background-size:cover;
}

input[type=password]:hover{
    transform:scale(1.1)
}

input[type=submit]{
    background-color: rgba(14, 225, 63, 0.703);
    font-size:35px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 60%);
    margin-top: 20px;
    transition: transform 0.25s, background-color 0.25s, box-shadow 0.25s;
    cursor:pointer;

}
input[type=submit]:hover{
    background-color:rgba(10, 160, 45, 0.703);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px;
    
}

@keyframes heading{
    from {transform: translateY(-100px) };
    to {transform: translateY(0px) ;}
}

h1{
    animation-name:heading;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes detail{
    from {transform: translateY(100px); opacity:0%; scale:0.5; };
    to {transform: translateY(0px) ; opacity:100%; scale:1;}
}

#pw1{
    display:inline-block;
    animation-name:detail;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay:0.2s;
}
#pw2{
    display:inline-block;
    animation-name:detail;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay:0.3s;
}
@keyframes submit{
    from {transform: scale(0%) translateY(200px); opacity:0%;}
    to{transform:scale(1) translateY(0px); opacity:100%;}
}

input[type="submit"]{
    animation-name:submit;
    animation-duration:1s;
    animation-fill-mode: backwards;
    animation-delay:0.4s;
}
::-webkit-scrollbar{
    display:none;
}

div.issue{
    height:60px;
    border-radius:9px;
    border: 2px solid red;
    background-color: rgba(42, 36, 36, 0.8);
    width:fit-content;
    margin:auto;
    padding:3px;
    margin-bottom:15px;
}

img.issue{
    display:inline-block;
    margin:0;
}
div.image{
    margin:5px;
}
div.image, div.message{
    display:inline-block;
}

div.message{
    color:white;
    transform:translateY(-15px);
    margin:2px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes warning{
    from {transform: translateY(-200px) scale(0); opacity:0%};
    to {transform: translateY(0px) scale(1); opacity: 100%};
}

@keyframes flash{
    0% {transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}

div.container{
    animation-name:warning;
    animation-duration:1s;
    animation-delay:0.1s;
    animation-fill-mode: backwards;
}

div.issue{
    

    animation-name:flash;
    animation-duration:2s;
    animation-iteration-count: infinite;
    
}