<!DOCTYPE html>
{%extends "basestaff.html"%}
{%load static%}

{%block title%} New Teacher {%endblock%}

{%block navigation%}
        <div class = "navigation">
            
            <div class = "element" onclick = "window.location = '/'"> <img class = "home" src = "{% static 'images/home_inactive.png'%}"> </div>
            
            <div class = "element" onclick = "window.location = '/class/list'"> <img class = "classes" src = "{% static 'images/classes_inactive.png'%}"> </div>
            <div class = "element" onclick = "window.location = '/users/list'"> <img class = "students" src = "{% static 'images/students_inactive.png'%}"></div>
            <div class = "element" onclick = "window.location = '/assignments/list'"> <img class = "assignments" src = "{% static 'images/assignments_inactive.png'%}"> </div>
            <div class = "element" onclick = "window.location = '/questions/list'"> <img class = "questions" src = "{% static 'images/questions_inactive.png'%}"> </div>
            <div class = "nameContainer"> <p class = "name"><span class = "name">{{currentUser.first_name}} {{currentUser.last_name}} </span>&nbsp;&nbsp;  |&nbsp;&nbsp; <a class = "logout" href = "/changepassword">Change Password</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a class = "logout" href = "{% url 'logout' %}">Logout</a></p> </div>
        </div>
{%endblock%}

{%block content%}
<link rel = "stylesheet" href="{% static 'css/addteacher.css' %}">
<h1> Add new Teacher</h1>
<div class = "content">
    <form method = "POST" action = "/users/addteacherdo">
        {%csrf_token%}
        <span class = "detail" id = "fn">First Name:</span><br>
        <input type = "text" name = "first" id = "fn" required placeholder = "Teacher first name">
        <br><br>
        <span class = "detail" id = "ln">Last Name:</span><br>
        <input type = "text" name = "last" id = "ln" required placeholder = "Teacher surname">
        <br><br>
        <span class = "detail" id = "ea">Email:</span><br>
        <input type = "email" id = "ea" name = "ea" autocomplete = "new-password" required placeholder = "Teacher email address">
        <br><br>
        <span class = "detail" id = "pw">Password:</span><br>
        <input type = "password" id = "pw" name = "pw" autocomplete = "new-password"  required placeholder = "Teacher password">
        <br><br>
        <input type = "submit" value = "Submit">

    </form>
</div>
{%endblock%}

