<!DOCTYPE HTML PUBLIC>
<html lang="en">
    {% extends "basestaff.html" %}
    {%load static%}
    {% block title%}
    Question Details
    {% endblock %}

    {%block navigation%}
        <div class = "navigation">
            
            <div class = "element" onclick = "window.location = '/'"> <img class = "home" src = "{% static 'images/home_inactive.png'%}"> </div>
            
            <div class = "element" onclick = "window.location = '/class/list'"> <img class = "classes" src = "{% static 'images/classes_inactive.png'%}"> </div>
            <div class = "element" onclick = "window.location = '/users/list'"> <img class = "students" src = "{% static 'images/students_inactive.png'%}"></div>
            <div class = "element" onclick = "window.location = '/assignments/list'"> <img class = "assignments" src = "{% static 'images/assignments_inactive.png'%}"> </div>
            <div class = "element" onclick = "window.location = '/questions/list'"> <img class = "questions" src = "{% static 'images/questions_inactive.png'%}"> </div>
            <div class = "nameContainer"> <p class = "name"><span class = "name">{{currentUser.first_name}} {{currentUser.last_name}} </span> &nbsp;&nbsp; |&nbsp;&nbsp; <a class = "logout" href = "/changepassword">Change Password</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a class = "logout" href = "{% url 'logout' %}">Logout</a></p> </div>
        </div>
    {%endblock%}
    {%block content%}
    <div class = "content">
        <link rel = "stylesheet" href="{% static 'css/questiondetails.css' %}">
        <h1>Question Details</h1>
        <h2 class = "detail"> {{question.questionText}}</h2>
        <p class = "detail"> Number of answers: {{total}}</p>

        {%if question.opt1 == question.answer %}
        <div class = "optioncorrect">
            <p class = "answer">{{question.opt1}} &nbsp;&nbsp;{{numOpt1}}%</p>
        </div>
        {%else%}
        <div class = "optionincorrect">
            <p class = "answer">{{question.opt1}} &nbsp;&nbsp;{{numOpt1}}%</p>
        </div>
        {%endif%}

        {%if question.opt2 == question.answer %}
        <div class = "optioncorrect">
            <p class = "answer">{{question.opt2}} &nbsp;&nbsp;{{numOpt2}}%</p>
        </div>
        {%else%}
        <div class = "optionincorrect">
            <p class = "answer">{{question.opt2}} &nbsp;&nbsp;{{numOpt2}}%</p>
        </div>
        {%endif%}

        {%if question.opt3 == question.answer %}
        <div class = "optioncorrect">
            <p class = "answer">{{question.opt3}} &nbsp;&nbsp;{{numOpt3}}%</p>
        </div>
        {%else%}
        <div class = "optionincorrect">
            <p class = "answer">{{question.opt3}} &nbsp;&nbsp;{{numOpt3}}%</p>
        </div>
        {%endif%}

        {%if question.opt4 == question.answer %}
        <div class = "optioncorrect">
            <p class = "answer">{{question.opt4}} &nbsp;&nbsp;{{numOpt4}}%</p>
        </div>
        {%else%}
        <div class = "optionincorrect">
            <p class = "answer">{{question.opt4}} &nbsp;&nbsp;{{numOpt4}}%</p>
        </div>
        {%endif%}
    </div>
    {%endblock%}
</html>